/* Instagram css start */

#node-instagram {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  width: 100%;
  padding-bottom: 40px;
}

#node-instagram .image_box a {
  display: block;
  position: relative;
}

#node-instagram .image_box {
  width: 100%;
  padding: 0;
  position: relative;
}

#node-instagram .image_box a img {
  width: 100%;
}

#node-instagram .image_box a::after {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
}

#node-instagram .image_box a:hover::after {
  opacity: 1;
}

#node-instagram .image_box ul li {
  display: inline-flex;
  align-items: center;
  padding: 0 5px;
}

#node-instagram .image_box ul li img {
  width: 13px;
  height: 13px;
  margin-right: 3px;
}

#node-instagram .image_box ul {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  padding-left: 0;
  opacity: 0;
  transition: all 0.3s;
  pointer-events: none;
  z-index: 3;
}

#node-instagram .image_box ul li span {
  color: #fff;
  font-size: 12px;
}

#node-instagram .image_box:hover ul {
  opacity: 1;
}

#node-instagram .image_box.type-video a:before {
  content: "";
  background-image: url(../images/play-button-arrowhead.png);
  position: absolute;
  width: 30px;
  height: 30px;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  z-index: 2;
}

#node-instagram .image_box.type-video:hover a:before {
  opacity: 0;
}

#node-instagram .image_box.type-video:before {
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: "";
  z-index: 1;
}

@media(max-width: 767px) {
  #node-instagram {
    grid-template-columns: 1fr 1fr;
  }
}

@media(max-width: 575px) {

  #node-instagram {
    grid-template-columns: 1fr;
  }
}

.image_box {
  float: left;
  padding: 10px 10px;
  width: 33.3%;
}

.image_box img {
  width: 200px;
  height: 200px;
  object-fit: cover;
}

/* Instagram css ends */
