{#
/**
 * @file
 * Theme override for a instagram_field.
 *
 * To override output, copy the "field--instagram-feed-by-username.html.twig" from the templates directory
 * to your theme's directory and customize it, just like customizing other
 * Drupal templates such as page.html.twig or node.html.twig.
 *
 * Instead of overriding the theming for all fields, you can also just override
 * theming for a subset of fields using
 * @link themeable Theme hook suggestions. @endlink For example,
 * here are some theme hook suggestions that can be used for a field_foo field
 * on an article node type:
 * - field--node--field-foo--article.html.twig
 * - field--node--field-foo.html.twig
 * - field--node--article.html.twig
 * - field--field-foo.html.twig
 * - field--instagram-field.html.twig
 * - field.html.twig
 * Available variables:
 * - attributes: HTML attributes for the containing element.
 * - label_hidden: Whether to show the field label or not.
 * - title_attributes: HTML attributes for the title.
 * - label: The label for the field.
 * - multiple: TRUE if a field can contain multiple items.
 * - data : Array of all the instagram username field items.
 * - feed: Containing single user's instagram feed.
 * - items: Containing each values from the feed as image, type, id, views etc.
 * - posts: Containing all the posts from user feed.
 * - post: Containg single post from the list of  user's posts:
 *   - attributes: List of HTML attributes for each item.
 * - field_name: The name of the field.
 * - field_type: The type of the field.
 * - label_display: The display settings for the label.
 *
 *
 * @see template_preprocess_field()
 */
#}

{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if label_hidden %}
  {% if multiple %}
    <div{{ attributes.addClass(classes, 'field__items') }}>
      {% for item in items %}
        <div{{ item.attributes.addClass('field__item') }}>
          <div id="node-instagram">
            {% for feed, items in data %}
              {% for posts, post in items %}
                {% if post.id is not empty %}
                  <div class="image_box box-{{post.id}} type-{{post.type}}">
                    <a href='{{post.link}}' target=_blank>
                      <img class="insta" src={{post.image}}>
                    </a>
                    <ul>
                      <li>
                        <img src="{{ module_path }}/images/heart.png">
                        <span>{{post.text1}}</span>
                      </li>
                      <li>
                        <img src="{{ module_path }}/images/oval-black-speech-bubble.png">
                        <span>{{post.text2}}</span>
                      </li>
                    </ul>
                  </div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
        </div>
      {% endfor %}
    </div>
  {% else %}
    {% for item in items %}
      <div{{ attributes.addClass(classes, 'field__item') }}>
        <div id="node-instagram">
            {% for feed, items in data %}
              {% for posts, post in items %}
                {% if post.id is not empty %}
                  <div class="image_box box-{{post.id}} type-{{post.type}}">
                    <a href='{{post.link}}' target=_blank>
                      <img class="insta" src={{post.image}}>
                    </a>
                    <ul>
                      <li>
                        <img src="{{ module_path }}/images/heart.png">
                        <span>{{post.text1}}</span>
                      </li>
                      <li>
                        <img src="{{ module_path }}/images/oval-black-speech-bubble.png">
                        <span>{{post.text2}}</span>
                      </li>
                    </ul>
                  </div>
                {% endif %}
              {% endfor %}
            {% endfor %}
          </div>
      </div>
    {% endfor %}
  {% endif %}
{% else %}
  <div{{ attributes.addClass(classes) }}>
  <div{{ title_attributes.addClass(title_classes) }}>{{ label }}</div>
    {% if multiple %}
      <div class='field__items'>
        {% for item in items %}
          <div{{ item.attributes.addClass('field__item') }}>
            <div id="node-instagram">
              {% for feed, items in data %}
                {% for posts, post in items %}
                   {% if post.id is not empty %}
                    <div class="image_box box-{{post.id}} type-{{post.type}}">
                      <a href='{{post.link}}' target=_blank>
                        <img class="insta" src={{post.image}}>
                      </a>
                      <ul>
                        <li>
                          <img src="{{ module_path }}/images/heart.png">
                          <span>{{post.text1}}</span>
                        </li>
                        <li>
                          <img src="{{ module_path }}/images/oval-black-speech-bubble.png">
                          <span>{{post.text2}}</span>
                        </li>
                      </ul>
                    </div>
                  {% endif %}
                {% endfor %}
              {% endfor %}
            </div>
          </div>
        {% endfor %}
      </div>
    {% else %}
      <div{{ item.attributes.addClass('field__item') }}>
        <div id="node-instagram">
          {% for feed, items in data %}
            {% for posts, post in items %}
               {% if post.id is not empty %}
                <div class="image_box box-{{post.id}} type-{{post.type}}">
                  <a href='{{post.link}}' target=_blank>
                    <img class="insta" src={{post.image}}>
                  </a>
                  <ul>
                    <li>
                      <img src="{{ module_path }}/images/heart.png">
                      <span>{{post.text1}}</span>
                    </li>
                    <li>
                      <img src="{{ module_path }}/images/oval-black-speech-bubble.png">
                      <span>{{post.text2}}</span>
                    </li>
                  </ul>
                </div>
              {% endif %}
            {% endfor %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
{% endif %}